version: "3.8"

services:
  # Backend (Node.js + Express)
  backend:
    build: ./backend
    container_name: backend_app
    restart: always
    ports:
      - "4000:4000"  # Mapea el puerto 4000 del contenedor al 4000 del host
    env_file:
      - ./backend/.env
    environment:
      - NODE_ENV=development
    volumes:
      - ./backend:/app  # Sincroniza cambios en tiempo real
    depends_on:
      - mysql
    networks:
      - app_network

  # Frontend (React/Vite)
  frontend:
    build: ./frontend
    container_name: frontend_app
    restart: always
    ports:
      - "5173:5173"  # Mapea el puerto 5173 del contenedor al 5173 del host
    volumes:
      - ./frontend:/app  # Sincroniza cambios en tiempo real
    environment:
      - NODE_ENV=development
    depends_on:
      - backend
    networks:
      - app_network

  # Base de datos MySQL
  mysql:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: monorepo_db
      MYSQL_USER: user
      MYSQL_PASSWORD:
    ports:
      - "3307:3306"  # Mapea el puerto 3306 del contenedor al 3307 del host
    volumes:
      - mysql_data:/var/lib/mysql  # Persiste los datos de MySQL
    networks:
      - app_network

# Red para que los contenedores se comuniquen
networks:
  app_network:
    driver: bridge

# Volumen para persistir los datos de MySQL
volumes:
  mysql_data: